*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    background-color: #FFFFFF;
    background-image: url(/image/Ellipse\ 14.jpg.png);
    background-repeat: no-repeat;
    background-size: 35%;  
    font-family:  Barlow Semi Condensed;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
}
nav{
    display: flex;
}

.main{
    display: flex;
    align-items: center;
    color: #033348;
}

button{
    padding: 5px 25px;
    background-color: #054764;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.home a{
    text-decoration: none;
    color: #054764;
}
.dropdown{
    display: none;
}
.home{
    display: flex;
    gap: 25px;
    margin-top: 4%;
    margin-left: 15%;
    
}
.btn{
    margin-top: 4%;
    margin-right: 10%;
}
.main h1{
    font-size: 50px;
}
.second{
    display: flex;
    width: 90%;
    margin: 0 auto;  
}
.get{
    margin-top: 20px;
}
.get img{
    margin-left: 10px;
    width: 6%;
}
.Text{
    width: 50%;
    margin-top: 9%;
    color: #033348;
}
.Text h1{
    font-size: 50px;
    line-height: 1.0;
}
.Text p{
    margin-top: 20px;
    line-height: 1.5;
}

.group{
    width: 50%;
}
.bottom{
    justify-items: center;
    margin-bottom: 20px;
    color: #033348;
}
.container2{
    background : #054764;
    padding: 20px;
    font-family:  Barlow Semi Condensed;
}
.infi img{
    margin-left: 30px;
}
.home2 a{
    border-bottom: 2px solid #033348;
}
.blue img{
    width: 50%;
}
.blue{
    width:25% ;
    background-color: #3E748F;
    color: white;
    border-radius: 10px;
    line-height: 20px;
    padding: 40px;
    margin-top: 20px;

}
.blue h3{
    margin-top: 15px;
}
.blue p{
    margin-top: 15px;
    margin-bottom: 20px;
}
#read{
    background-color: #033348;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
}
#read img{
    margin-left: 10px;
    width: 10%;
}
.box{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.third{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.container3{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family:  Barlow Semi Condensed;
    
}
.conc{
    text-align: left;
    margin-top: 20px;
}
.container3 h1{
    text-align: center;
    color: #033348;
}
.us{
   margin-left: 10%;
   width: 80%; 
   line-height:25px ;
}
footer{
    background-color: #033348;
    padding-bottom: 10px;
}
.container4{
    display: flex;
    padding: 30px;
    color: white;
    font-family:  Barlow Semi Condensed;
}
.contact2{
    display: flex;
    margin-bottom: 10px;
}
.contact{
    border-right: 1px solid white;
    padding: 20px;
    width: 20%;
    margin-left: 6%;
    margin-top: 25px;
}
.No{
    background-color: white;
    border-radius: 5px;
    /* padding: 10px ; */
    font-size: 20px;
    color: #033348;
    margin-bottom: 20px;
}
 .contact a{
color: white;
}
.link a{
    text-decoration: none;
}
.location2{
    display: flex;
    margin-bottom: 10px;
    gap: 3px;
}
.location{
    margin: 40px;
    width: 20%;
    line-height: 1.5;
    /* padding: 10px; */
}
.sub{
    display: flex;
    gap: 3px;
}

li{
    list-style-type: none;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.trio{
    display: flex;
    margin-left: 10px;
    gap: 30%;
}
.page{
    line-height: 2.2;
    width: 60%;
}
.copy {
    text-align: center;
    color: white;
    margin-top: 20px;
}

@media screen and (max-width:700px) {
    .container1{
        width: 100%;
    }
    .nav-list{
        width: 100%;
        display: flex;
        justify-items: center;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        /* min-width: 160px; */
        z-index: 1;
      }

      .dropdown-content a {
        color: #033348;
        /* padding: 12px 16px; */
        text-decoration: none;
        display: block;
      }
      .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropbtn {
        margin-top: 10px;
        padding: 5px;
      }

    .dropdown {
        position: relative;
        display: inline-block;
      }
    
    .main h1{
        font-size: 30px;
        /* margin-top: 10px; */
    }
    .box{
       display: flex;
       flex-direction: column;
    }
    .third{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .blue{
      width: 90%;
      padding: 15px;
      margin: 0 auto;
}
.blue img{
    width: 40%;
}
#read{
    padding: 5px;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
}
.trio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
}
.page{
    width: 100%;
    margin-top: 20px;
}
.contact{
    width: 100%;
    padding: 20px;
    margin: auto;
}
.No{
    padding: 5px;
    font-size: 17px;
}
.phone img{
    width: 70%;
}
.location{
    width: 100%;
    margin-left: 10px;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Text{
    width: 100%;
    margin: 10px;
}
.Text h1{
    font-size:25px ;
}
.group{
    width: 100%;
}
.home{
    display: none;
}
.btn{
    display: none;
}
.bottom{
    font-size: 14px;
}
.infi img{
    width: 40%;
}

}